.myform{
    text-align: center;
    margin-top: 5rem;
}
.myform input{
    border-radius: 10px;
    margin: 20px;
    height:50px;
    width:400px;
    font-size: larger;
    padding-right: 1rem;
    border: 2px solid rgb(164, 162, 162);


}

.text{
    width:500px; 
    padding-left: 1rem;

}
.inputError{
    border: 2px solid #e74c3c !important;
}


.myform button{
    width:100px;
    height: 40px;
    border-radius: 5px;
    background-color: green;
    color: white;
    border: none;
}

.errorMsg{
    display: block;
    color: #e74c3c;
    margin: 0;
    line-height: 0.1;
}